#leftPane{
    background-color: #BDD7EE;
}

#rightPane{
    background-color: #DEEBF7;
}

#leftPane .header,#rightPane .header{
    padding-top: 20px;
    padding-left: 20px;
}

#leftPane h4,#rightPane h4{
    padding-top: 20px;
    padding-left: 20px;
}

#leftPane .questionlist{
    padding-top: 25px;
}

#rightPane .questionDetails{
    padding-top: 25px;
    padding-left: 20px
}

.questionDetails input{
    width: 90%;
}

.fileUpload{
    padding-top: 10px;
}

.questionOptions{
    padding-top:15px;
    padding-left: 20px
}

.questionOptions input{
    width: 90%;
}

.options{
    padding-top:8px;
}

.buttons{
    padding-top:15px;
    padding-left: 20px;
    padding-bottom: 30px;
}
.buttons button{
    margin-left: 10px;
    width:100px;
}

.showleftPane{
    margin-top:3px;
}

.showrightPane{
    margin-top:3px;
}

.selectedQuestion{
    font-weight: bold;
}

#imgupload{
    width: 500px;
}


.fileUpload img{
    width: 500px;
    height:300px;
}

@media (max-width: 767px) { 
    .fileUpload img{
        width: 300px;
        height:100px;
    }
}
